// Mixins and Variables

$primary-color:       #ff521d
$primary-color-light: #ffd19a
$almost-white:        #fffdf5

$def-easing-type: cubic-bezier(0.075, 0.82, 0.165, 1)

=no_margin_no_padding
  margin:   0
  padding:  0

=transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition:    $transition-property $transition-time $method
  -ms-transition:     $transition-property $transition-time $method
  -o-transition:      $transition-property $transition-time $method
  transition:         $transition-property $transition-time $method

=transition_off
  -webkit-transition: none
  -moz-transition:    none
  -ms-transition:     none
  -o-transition:      none
  transition:         none

=break_long_words
  -ms-word-break: break-all
  word-break:     break-all
  word-wrap:      break-word
  word-break:     break-word

  white-space: pre

  -webkit-hyphens:  auto
  -moz-hyphens:     auto
  hyphens:          auto


// Custom Font

@font-face
  font-family: "Geometria"
  src: url("../fonts/gextralight.woff") format("woff")
  font-weight: 200
  font-style: normal

@font-face
  font-family: "Geometria"
  src: url("../fonts/glight.woff") format("woff")
  font-weight: 300
  font-style: normal

=basic-typography
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300
  font-size: 18px


// UX Hacks

=text-select($on_off: none)
  -webkit-user-select:  $on_off
  -moz-user-select:     $on_off
  -ms-user-select:      $on_off
  -o-user-select:       $on_off
  user-select:          $on_off
  @if $on_off == none
    cursor: default
  @else
    cursor: auto

::-moz-selection
  background-color: $primary-color-light

::selection
  background-color: $primary-color-light

// Firefox-specific hack
body:not(:-moz-handler-blocked) #result-url
  white-space: pre-wrap


// Common Styles

body, input, h1, h2, h3, h4, h5
  +no_margin_no_padding
  +basic-typography
  +text-select(none)


// Header Styles

.header
  height: 150px
  vertical-align: center

  h1
    margin-top: 12px
    text-align: center

.logo-box
  display: block
  text-indent: -9999px
  width:  58px
  height: 55px
  background: url(../images/logo-oms.svg)
  background-size: 58px 55px
  position: relative
  top:  46px
  left: 40px
  opacity: 0.3
  +transition(opacity, 2s, $def-easing-type)

  &:hover
    opacity: 1

  &:active
    +transition_off
    background-color: $almost-white
    //opacity: 0.8


// Result URL Styles

#result-url
  display: block
  position: relative
  margin-left:    20px
  margin-right:   20px
  padding-top:    34px
  padding-bottom: 34px
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 200
  font-size: 30px
  letter-spacing: -1px
  line-height: 42px
  +break_long_words
  border-top:     1px solid $primary-color-light
  border-bottom:  1px solid $primary-color-light
  +text-select(text)

.highlighted
  +transition(all, 1s, $def-easing-type)
  color: $primary-color


// Form Styles

.control-form
  width: 448px
  margin-top:     60px
  margin-bottom:  60px
  margin-left:    auto
  margin-right:   auto

  fieldset
    +no_margin_no_padding
    border: none

  p
    +no_margin_no_padding

  label
    display: inline-block
    width: 140px

  input[type=text]
    position: relative
    width: 280px
    margin-bottom: -1px
    padding: 15px 10px 13px
    border: none
    border-left:  none
    border-right: none
    border-top:     1px solid $primary-color-light
    border-bottom:  1px solid $primary-color-light
    +text-select(text)
    z-index: 1

    &:active,
    &:focus
      +transition(all, 1s, $def-easing-type)
      outline: none !important
      box-shadow: none
      color:                $primary-color
      border-top-color:     $primary-color
      border-bottom-color:  $primary-color
      z-index: 2

.invalid
  +transition(all, 1s, $def-easing-type)
  background: $primary-color-light

  &::-webkit-input-placeholder
    color: $almost-white
  &:-moz-placeholder
    color: $almost-white
  &::-moz-placeholder
    color: $almost-white
  &:-ms-input-placeholder
    color: $almost-white

  &:active,
  &:focus
    background: $primary-color
