// Mixins and Variables

$primary-color:       #ff521d
$primary-color-light: #ffd19a
$almost-white:        #fffdf5

$easing-type: cubic-bezier(0.075, 0.82, 0.165, 1)

@mixin transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

@mixin transition_off()
  -webkit-transition: none
  -moz-transition: none
  -ms-transition: none
  -o-transition: none
  transition: none

@mixin break_long_words()
  word-wrap:      break-word
  -ms-word-break: break-all
  word-break:     break-all
  word-break:     break-word
  -webkit-hyphens:  auto
  -moz-hyphens:     auto
  hyphens:          auto


// Custom Font

@font-face
  font-family: "Geometria"
  src: url("../fonts/gextralight.woff") format("woff")
  font-weight: 200
  font-style: normal

@font-face
  font-family: "Geometria"
  src: url("../fonts/glight.woff") format("woff")
  font-weight: 300
  font-style: normal

@mixin basic-typography
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 300
  font-size: 18px


// Common Styles

body, input, h1, h2, h3, h4, h5
  +basic-typography
  margin: 0
  padding: 0


// Header Styles

.header
  height: 150px
  vertical-align: center

  h1
    margin-top: 12px
    text-align: center

.logo-box
  display: block
  text-indent: -9999px
  width: 58px
  height: 55px
  background: url(../images/logo-oms.svg)
  background-size: 58px 55px
  position: relative
  top: 46px
  left: 40px
  opacity: 0.3
  +transition(opacity, 2s, $easing-type)

  &:hover
    opacity: 1

  &:active
    +transition_off
    background-color: $almost-white
    //opacity: 0.8


// Result URL Styles

#result-url
  display: block
  margin-left: 20px
  margin-right: 20px
  padding-top: 34px
  padding-bottom: 34px
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif
  font-weight: 200
  font-size: 30px
  letter-spacing: -1px
  line-height: 42px
  +break_long_words
  overflow-x: scroll
  border-top: 1px solid $primary-color-light
  border-bottom: 1px solid $primary-color-light

.invalid
  background: $primary-color-light

.highlighted
  color: $primary-color


// Form Styles

.control-form
  margin-top: 30px
