doctype html
html lang="ru"
  head
    meta charset="utf-8"
    title Компоновщик URL
    link rel="stylesheet" href="css/stylesheet.css"

  body
    .container
      header.header
        a.logo-box href="https://ohmystats.com?utm_source=utmohmy&utm_medium=special&utm_campaign=logo_link"
        h1 Компоновщик URL

      #result-url

      form.control-form
        fieldset
          p
            label for="input-orig-url" Ссылка
            input#input-orig-url type="text" name="input-orig-url" tabindex="1" placeholder="Адрес целевой страницы"
          p
            label for="input-source" Источник
            input#input-source type="text" name="input-source" tabindex="2" placeholder="google, yandex"
          p
            label for="input-channel" Канал
            input#input-channel type="text" name="input-channel" tabindex="3" placeholder="cpc, display" list="channels"
            datalist#channels
              option value="cpc"
              option value="display"
              option value="price"
              option value="retargeting"
              option value="affiliate"
              option value="social_cpc"
              option value="special"
          p
            label for="input-targeting" Таргетинг
            input#input-targeting type="text" name="input-targeting" tabindex="4" placeholder="Таргетинг"
          p
            label for="input-category" Категория
            input#input-category type="text" name="input-category" tabindex="5" placeholder="Категория"
          p
            label for="input-subcategory" Подкатегория
            input#input-subcategory type="text" name="input-subcategory" tabindex="6" placeholder="Подкатегория"

    script src="js/main.js"
