@font-face {
  font-family: "Geometria";
  src: url("../fonts/gextralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/glight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
body {
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h1 {
  font-weight: 200; }

.invalid {
  background: red; }

.highlighted {
  color: red; }
