@font-face {
  font-family: "Geometria";
  src: url("../fonts/gextralight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }
@font-face {
  font-family: "Geometria";
  src: url("../fonts/glight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
::-moz-selection {
  background-color: #ffd19a; }

::selection {
  background-color: #ffd19a; }

body, input, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default; }

.header {
  height: 150px;
  vertical-align: center; }
  .header h1 {
    margin-top: 12px;
    text-align: center; }

.logo-box {
  display: block;
  text-indent: -9999px;
  width: 58px;
  height: 55px;
  background: url(../images/logo-oms.svg);
  background-size: 58px 55px;
  position: relative;
  top: 46px;
  left: 40px;
  opacity: 0.3;
  -webkit-transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: opacity 2s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .logo-box:hover {
    opacity: 1; }
  .logo-box:active {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    background-color: #fffdf5; }

#result-url {
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 34px;
  padding-bottom: 34px;
  font-family: "Geometria", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 42px;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  border-top: 1px solid #ffd19a;
  border-bottom: 1px solid #ffd19a;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
  cursor: auto; }

.invalid {
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  background: #ffd19a; }

.highlighted {
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #ff521d; }

.control-form {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 448px;
  margin-left: auto;
  margin-right: auto; }
  .control-form fieldset {
    margin: 0;
    padding: 0;
    border: none; }
  .control-form p {
    margin: 0;
    padding: 0; }
  .control-form label {
    display: inline-block;
    width: 140px; }
  .control-form input[type=text] {
    position: relative;
    width: 280px;
    margin-bottom: -1px;
    padding: 15px 10px 13px;
    border: none;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ffd19a;
    border-bottom: 1px solid #ffd19a;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    -o-user-select: text;
    user-select: text;
    cursor: auto;
    z-index: 1; }
    .control-form input[type=text]:active, .control-form input[type=text]:focus {
      -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      -moz-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      -ms-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      -o-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
      outline: none !important;
      box-shadow: none;
      color: #ff521d;
      border-top-color: #ff521d;
      border-bottom-color: #ff521d;
      z-index: 2; }
